.box{
    
    background:linear-gradient(rgba(250,0,0,0.5),transparent);
    background-color:orange /*this your primary color*/
  }

  .container-img{
    padding-top: 200px;
    color:white; 
    background-image: url('./back.jpg');
    height: 500px;
    width: 1000;
  }